.wrapper {
  margin: 0 auto;
  width: 1400px;
  font-family: 'Manrope', sans-serif;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
a {
  letter-spacing: -0.03em;
}

section {
  margin-bottom: 150px;
}


.indent-short {
  margin-bottom: 30px;
}

/* Знакомство */

.acquaintance__header {
  width: 956px;
  height: 120px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.acquaintance__back {
  position: relative;
  background-image: url(../resurces/Rectangle\ 1.png);
  width: 1150px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

.aquaintance__description {
  position: absolute;
  width: 430px;
  height: 81px;
  left: 40px;
  bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.about__header {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}

.about__descr {
  font-weight: 400;
  font-size: 45px;
  line-height: 62px;
  width: 1048px;
  height: 366px;
  color: #121212;
}

.about__btn {
  display: block;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  background-color: #AD1818;
  color: #fff;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}

.about__btn:hover {
  color: #AD1818;
  background-color: #fff;
  border: 1px solid #AD1818;
}


/* ПРОЭКТЫ */


.project__content {
  margin-bottom: 90px;
}

.project__header {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}

.project__image {
  margin-bottom: 15px;
  width: 100%;
}

.project__descr {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
}

.project__more {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #AD1818;
}

.project__btn {
  display: block;
  padding: 56px 0;
  width: 100%;
  border: 1px solid #AD1818;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #AD1818;
  cursor: pointer;
  text-decoration: none;
}

.project__btn:hover {
  color: #fff;
  background-color: #AD1818;
}

/* УСЛУГИ */

.container-black {
  background-color: #121212;
}

.services {
  padding: 150px 0;
}

.services__header {
  margin-bottom: 35px;
  text-transform: uppercase;
  color: #fff;
}

.service {
  margin-bottom: 60px;
}

.service:nth-last-child(1) {
  margin-bottom: 0;
}

.services__picture {
  margin-bottom: 15px;
  width: 100%;

}

.services-descr {
  font-size: 30px;
  line-height: 41px;
  color: #fff;
}